{# Fichier twig pour la page liste des médicaments, appelle le composant ListeMedicament.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <sommaire></sommaire>
    <listemedicament></listemedicament>
</div>

{% endblock %}