{# Fichier twig pour la page de déconnexion et affiche à nouveau la connexion,
 appelle le composant Home.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <h1>Vous avez bien été déconnecté</h1>
    <home></home>
</div>

{% endblock %}