{# Fichier twig pour la page d'erreur, appelle le composant Erreur404.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <erreur404></erreur404>
</div>

{% endblock %}