{# Fichier twig pour la page d'acceuil qui permet de se connecter
 appelle le composant Home.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <home></home>
</div>

{% endblock %}