{# Fichier twig pour la page lister les praticiens, appelle le composant ListePraticien.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <sommaire></sommaire>
    <listepraticien></listepraticien>
</div>

{% endblock %}