{# Fichier twig pour la page chosir un visiteur, appelle le composant IndexVisiteur.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <sommaire></sommaire>
    <indexvisiteur></indexvisiteur>
</div>

{% endblock %}