{# Fichier twig pour la page profil du visiteur connecté, appelle le composant Profil.vue #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <sommaire></sommaire>
    <profil></profil>
</div>

{% endblock %}